.progress-model {
  width: 200px;
  margin: 0 auto;
}

.invite-window-modal .modal-dialog {
    width: 320px;
}

.alert-receive-invite {
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	z-index: 50000;	
}

#alert-receive {
	 margin: 0;
}

#alert-receive-msg-progress {
	width: 50%;
	margin: 0;
	padding-bottom:15px;
}

.alert-receive-invite .btn {
	position: relative;
	right: 40px;
	float: right;
	bottom: 20px;
}

.left {
	position: relative;
	float: left; 
	width: 90%;	
	bottom: 5px;
}


.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor: pointer;
    width: 40px; height:40px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif; font-size:13px
}
.grid td.clicked {
    background-color: yellow;
    font-weight: bold; 
    color: red;
}

.grid td.x {
    font-family: "Verdana";
    font-size: 1.75em;
    font-weight: bold;
    color: #008A00;
}

.grid td.o {
    font-family: "Verdana";
    font-size: 1.75em;
    font-weight: bold;
    color: #FA6800;    
}

.grid td.played {
	cursor: not-allowed;
}

.grid td.win {
	color: #FFFFFF;
    margin: 5px;
}