<div class="row">
	<div class="row col-lg-12">
		<h4>Your nickname is <a href="#" editable-text="userSelf.nickname" onbeforesave="checkName($data)" onaftersave="updateNickname($data)">{{ userSelf.nickname || "empty" }}</a></h4>
	</div>
</div>
<div class="row">
	<div class="row col-lg-12 custyle">
		<table class="table table-striped custab">
		    <thead>
		      <!--<a href="#" class="btn btn-primary btn-s pull-right"><b>+</b> Add new categories</a>-->
		        <tr>
		            <th>Player</th>
		            <th>Online since</th>
		            <th>Invite to Play</th>		            
		        </tr>
		    </thead>
		    <tbody>
	            <tr ng-repeat="player in players">
	                <td>{{ player.nickname }}</td>
	                <td>{{ player.onlineSince }}</td>
	                <td><a class='btn btn-primary btn-s' ng-click='inviteToPlay(player.id, player.nickname)' ng-disabled='player.self'>Invite</a></td>	                
	            </tr>	            
			</tbody>	            
    	</table>
	</div>		
</div>	

<script type="text/ng-template" id="modal-receive-invitation.html">
	<div class="modal-header">
		<h4>Inviting {{ userInvitee.nickname }}</h4>
	</div>
	<div class="modal-body">
		<div class="progress-model">
			<progress-circle progress-circle-model="progressCircleData" element-width=200 element-height=200
				outer-circle-radius=60 inner-circle-radius=40 percent-format=false label-font='18pt Calibri'
			></progress-circle>			
		</div>
		<div>Waiting for reply from {{ userInvitee.nickname }} ...</div>
	</div>          
	<div class="modal-footer">
		<!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
		<button class="btn btn-warning" ng-click="cancel()">Cancel Invitation</button>
	</div>
</script>


<div class="alert-receive-invite" >
	<alert id="alert-receive" ng-repeat="alertInvite in alertsInvite" type="alertInvite.type" close="closeAlertInvite($index, true)">
		<div id="alert-receive-msg-progress">
			<div class="left">{{alertInvite.msg}}. This invitation expires in <strong>{{alertInvite.dynamic}} seconds</strong>.</div><!--<div class="left"><progressbar animate="false" type="success">{{alert.dynamic}}/{{max}}</progressbar></div>-->
		</div>
		<button class='btn btn-default btn-sm' ng-click="acceptInviteToPlay($index)">Accept Invitation</button>
	</alert>	
</div>

<div class="alert-receive-invite" >
	<alert id="alert-receive" ng-repeat="alertException in alertsException" type="alertException.type" close="closeAlertException($index)">
		<div id="alert-receive-msg-progress">
			<div class="left">{{alertException.msg}}</div>
		</div>
	</alert>	
</div>


<script type="text/ng-template" id="modal-how-to-play.html">
	<div class="modal-header">
		<h4>How to play this game</h4>
	</div>
	<div class="modal-body">
		<ul>
			<li>Play like tic-tac-toe. If you know how to tic-tac-toe, you can play this game.</li>
			<li>Unlike tic-tac-toe, to win, you must have played 5 cells in a row.</li>
			<li>Like tic-tac-toe, 5 cells in a row can be horizontally, vertically, or diagonally.</li>
			<li>You are given a nick name, which you change.</li>  
			<li>No need to give your personal info or register/sign-in.</li>
			<li>No need to refresh the page.  In fact, avoid doing so.</li>
			<li>Status appears at bottom of the page.</li>
			<li>Enjoy.  Invite someone from the list.</li>
			<li>If you receive an invitation from someone, accept it.</li>
		</ul>
	</div>          
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Close</button>
	</div>
</script>

<script type="text/ng-template" id="modal-about.html">
	<div class="modal-header">
		<h4>About</h4>
	</div>
	<div class="modal-body">
		<div>By <a href="https://medium.com/@kevinle" target="_blank">Kevin Le</a></div>
	</div>          
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Close</button>
	</div>
</script>