<div><confirm-on-exit></confirm-on-exit></div>

<span>{{ userOpponent.nickname }} vs {{ userSelf.nickname }}</span>

<clickable-grid game-turn="gameTurn" game-move-outbound="gameMoveToOpponent" game-move-inbound="gameMoveFromOpponent"></clickable-grid>
<!--
<clickable-grid on-cell-click="onCellClick(r, c)" game-data="gameState"></clickable-grid>
<clickable-grid clickable-grid-model="gameData" on-cell-click="onCellClick(r, c)" game-data="gameData"></clickable-grid>
-->
<div class="alert-receive-invite" >
	<alert id="alert-receive" ng-repeat="alertException in alertsException" type="alertException.type" close="closeAlertException($index)">
		<div id="alert-receive-msg-progress">
			<div class="left">{{alertException.msg}}</div>
		</div>
	</alert>	
</div>

<div class="alert-receive-invite" >
	<alert id="alert-receive" ng-repeat="alertTimer in alertsTimer" type="alertTimer.type">
		<div id="alert-receive-msg-progress">
			<div class="left">{{alertTimer.msg}}</div>
		</div>
	</alert>	
</div>