<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Connect5</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">        
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/superhero/bootstrap.min.css" />

    <!-- required by gulp-useref - do not remove -->
    <!-- build:css combined.css -->
    <link rel="stylesheet" href="styles/xeditable.css">
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->

    <style>
        body {
            margin-top: 60px;
        }
    </style>
</head>

<body ng-app="caro">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href>Connect 5 - a realtime multi-user game</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" ng-controller="DialogCtrl">
                    <li><a href ng-click="showHowToPlay()">How to Play</a>
                    </li>
                    <li><a href ng-click="showAbout()">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <!-- Google Analytics: UA-48283428-1 -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-48283428-1', 'codeprototype.com');
        ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->


    <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
    
    <!-- required by gulp-useref - do not remove -->
    <!-- build:js third.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>    
    <!-- endbuild -->

    <!-- required by gulp-useref - do not remove -->
    <!-- build:js app.min.js -->
    <script src="scripts/directives/angular-ui-bootstrap.0.10.0.js"></script>
    <script src="scripts/directives/xeditable.js"></script>
    <script src="scripts/directives/progress.circle.js"></script>
    <script src="scripts/directives/window.unload.js"></script>
    <script src="scripts/directives/clickable.grid.js"></script>    
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/game.js"></script>
    <script src="scripts/controllers/dialog.js"></script>
    <script src="scripts/services/socket.service.js"></script>
    <script src="scripts/services/app.data.service.js"></script>
    <script src="scripts/services/timer.service.js"></script>    
    <!-- endbuild -->
</body>

</html>
